<!-- @format -->

<%- include ("partials/head") %> <%- include ("partials/navbar") %>

<h1>The Home Page! <%= "But also Penguins!".toUpperCase() %></h1>
<p><%= "Hello I AM A TURTLE. THIS IS A DOLPHIN".toLowerCase() %></p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam laboriosam
  obcaecati voluptas aliquid, qui esse deserunt sed laudantium impedit corporis,
  harum voluptatum minus cum alias, ipsa quidem dicta ex excepturi
</p>
<%- include ("partials/footer") %>
